<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.lucasabadie.projetandroidtp">

    <uses-permission android:name="android.permission.VIBRATE"/>

    <application
        android:largeHeap="true"
        android:screenOrientation="portrait"
        android:allowBackup="true"
        android:icon="@mipmap/ic_logo"
        android:label="Search the Intruder"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name="com.example.lucasabadie.projetandroidtp.Activity_Accueil"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity android:name=".Activity_Game"
            android:screenOrientation="portrait">

        </activity>
    </application>

</manifest>